model_list:
  - model_name: gpt-5.1-chat-latest
    litellm_params:
      model: openai/gpt-5.1-chat-latest
      api_key: os.environ/OPENAI_API_KEY
  - model_name: gpt-5.1
    litellm_params:
      model: openai/gpt-5.1
      api_key: os.environ/OPENAI_API_KEY
  - model_name: claude-4-5-opus
    litellm_params:
      model: anthropic/claude-4-5-opus-20251124
      api_key: os.environ/ANTHROPIC_API_KEY
  - model_name: claude-4-5-sonnet
    litellm_params:
      model: anthropic/claude-4-5-sonnet-20250930
      api_key: os.environ/ANTHROPIC_API_KEY
  - model_name: gemini-3-pro
    litellm_params:
      model: gemini/gemini-3-pro-preview
      api_key: os.environ/GEMINI_API_KEY

litellm_settings:
  drop_params: true
  # callbacks: ["otel", "langfuse"] # Example callbacks
