services:
  litellm:
    build:
      context: .
      dockerfile: .docker/dev/Dockerfile
    command: [ "--config", "/app/config.yaml", "--port", "4000", "--detailed_debug" ]
    volumes:
      - ./config.yaml:/app/config.yaml
    ports:
      - "4000:4000"
    environment:
      ANTHROPIC_API_KEY: ${ANTHROPIC_API_KEY}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      LITELLM_MASTER_KEY: ${LITELLM_MASTER_KEY:-sk-1234}
      DATABASE_URL: postgres://${DB_USER:-user}:${DB_PASSWORD:-password}@db:5432/${DB_NAME:-litellm}
